<h1> dit is the homepage <h1>

<table>
  <tr>
    <td>
      <%= link_to 'Reciepts', receipts_path %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to 'About', welcome_about_path %>
    </td>
  </tr>
<table>
